/* Created by:sophie
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #fff0f4;
}

/* width and height set size of each column (50% means 50% of the screen)
*float makes the column go to whatever place it is assigned
*(left means to go to left side of screen)
*/
#col-1 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
}

#col-2 {
  position: relative;
  width: 50%;
  float: right;
  height: 100%;
}

h2,
h5 {
  color: #4c008a;
}

img {
  display: block;
  margin-left: 20px;
}

.mdl-textfield__input{
   border-bottom: 90px solid #0e0b0b;
}